@import 'variables';

body {
    background-color: $bg-light;
    color: $text-color;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Fira Sans', sans-serif; /* Cambia el tipo de letra global */
}

body.dark-mode {
    background-color: $bg-dark;
    color: $text-dark-color;
}

/* Otros estilos globales */
.app {
    display: flex;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background: #f4f4f4;
}

button {
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: $radius;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($primary-color, 10%);
    }

    &.dark-mode {
        background-color: $primary-color;
    }
}

.save-btn {
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    border: none;
    border-radius: $radius;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}