// Variables de colores


// Variables de tema claro y oscuro
$bg-light: #f5f7fa;
$bg-dark: #2c3e50; // Fondo general en modo oscuro
$card-bg: #ffffff;
$card-dark-bg: #34495e; // Fondo de tarjeta en modo oscuro
$text-color: #333333;
$text-dark-color: #ecf0f1; // Texto en modo oscuro
//$primary-color: #4caf50;

// Otras variables
$shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
$radius: 10px;
$transition: 0.3s ease-in-out;

$primary-color: #4caf50;
$secondary-color: #ff5722;
$background-color: #f5f5f5;
$text-color: #333;
$primary-color-dark: #388e3c; // Color más oscuro para hover

$color-primary: #4f46e5;
$color-primary-dark: #4338ca;
$color-primary-rgb: 79, 70, 229;
$color-error: #dc2626;
$color-error-rgb: 220, 38, 38;
$color-error-bg: #fef2f2;
$color-background-start: #f8fafc;
$color-background-end: #e2e8f0;
$color-border: #cbd5e1;
$color-text: #1e293b;
$color-text-secondary: #64748b;