$color-primary: #6C63FF;
$color-secondary: #FF9F1C;
$color-cloud: #F8F9FA;
$color-dark: #2D3436;
$color-gray: #636E72;
$color-online: #00B894;
$color-away: #FDCB6E;
$color-busy: #D63031;
$color-offline: #B2BEC3;

$primary-color: #4caf50;